.bicicletas-bg:nth-child(odd) {
  background: linear-gradient(to right, var(--cor-0) 30%, var(--cor-11) 30%);
}

.bicicletas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  padding-bottom: 3.75rem;
  padding-top: 3.75rem;
  background: url('../../img/dec/top-right.svg') no-repeat top 2.5rem right
    1.25rem;
}

.bicicletas-imagem {
  display: grid;
}

.bicicletas-imagem span {
  margin-top: 1.25rem;
  grid-area: 1/1;
  place-self: start end;
  display: inline-block;
  background: var(--cor-12);
  padding: 0.5rem 1rem;
  border-radius: 5px 0 0 5px;
}

.bicicletas-imagem img {
  grid-area: 1/1;
}

.bicicletas-conteudo {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: start;
}

.bicicletas-conteudo h2,
.bicicletas-conteudo p {
  grid-column: 1/-1;
}

.bicicletas-conteudo h2 {
  margin-bottom: 1.25rem;
}

.bicicletas-conteudo h2::before {
  display: block;
  content: '';
  width: 0.75rem;
  height: 0.5rem;
  background-color: var(--cor-p1);
  margin-bottom: 0.5rem;
}

.bicicletas-conteudo p {
  margin-bottom: 1.25rem;
}

.bicicletas-conteudo a {
  place-self: end;
}

.bicicletas-conteudo ul {
  display: grid;
  gap: 1rem;
}

.bicicletas-conteudo li {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.bicicletas-conteudo img {
  width: 1.5rem;
}

@media (max-width: 800px) {
  .bicicletas {
    grid-template-columns: 1fr;
    gap: 1.25rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .bicicletas-bg:nth-child(odd) {
    background: var(--cor-11);
  }
}

@media (max-width: 600px) {
  .bicicletas-conteudo {
    grid-template-columns: 1fr;
  }

  .bicicletas-conteudo ul {
    margin-bottom: 1.25rem;
    grid-template-columns: 1fr 1fr;
    font-size: 0.875rem;
  }

  .bicicletas-conteudo a {
    place-self: start;
  }
}
