.bicicletas-lista {
  padding-top: 3.75rem;
  padding-bottom: 7.5rem;
}

.bicicletas-lista h2 {
  margin-bottom: 2.5rem;
}

.bicicletas-lista ul {
  display: flex;
  gap: 2.5rem;
  padding: 0 1.25rem;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  overflow: scroll;
}

.bicicletas-lista li {
  min-width: 280px;
}

.bicicletas-lista a {
  display: block;
}

.bicicletas-lista img {
  margin-bottom: 1rem;
}

.bicicletas-lista h3 {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}

.bicicletas-lista h3::before {
  content: '';
  display: inline-block;
  width: 0.75rem;
  height: 0.5rem;
  margin-right: 0.5rem;
  background-color: var(--cor-p1);
}

.bicicletas-lista a:hover h3::before {
  transition: width 0.3s;
  width: 1.5rem;
}

.bicicletas-lista li span {
  padding-left: 1.25rem;
}

@media (max-width: 800px) {
  .bicicletas-lista ul {
    gap: 1.25rem;
  }
}
